.Main { background: linear-gradient(to bottom right, rgba(123, 105, 6, 0.15) 10%, rgba(136, 201, 220, 0.21) 96%, rgba(123, 105, 6, 0.3)); min-height: 560px; border-radius: 0 0 10px 10px; }

.Main .background { background-color: rgba(136, 136, 179, 0.02); }



